[2015-09-28 03:42] cwensley opened #1 "Add nuget packages and publish to nuget.org"

[2015-09-28 03:42] cwensley opened #2 "Add CI"
.. probably using appveyor

[2015-09-28 03:45] cwensley opened #3 "Implement other base type converters"
Type converters for other primitive types need to be added.  Also need implementations for converting to a string (not just from a string) for writing xaml.

Possibly use a fork of the TypeConverter from reference source, which mono also now uses, though there would be a lot of changes needed to compile in PCL Profile 259.

[2015-09-28 04:12] cwensley opened #4 "Fix unit tests"

[2015-09-29 16:16] #2 closed

[2015-09-29 16:16] #1 closed

[2015-09-30 08:46] #4 closed

[2015-09-30 08:46] cwensley commented on #3
Now complete! \o/

[2015-09-30 08:46] #3 closed

[2015-11-23 10:49] onyultd opened #6 "Infinite double values"
Hi thanks for creating this library! Noticed that serializing infinite double values outputs "Infinity" but this causes an exception during deserialization.

Also are there any control attributes implemented? Noticed that applying DefaultValue attributes has no effect on the serialized output.

Thanks,
Stuart

[2015-12-03 18:26] cwensley opened #7 "Use DefaultValueAttribute when serializing"
When you have decorated your class properties with DefaultValueAttribute, the value should be used to determine whether it should be serialized or not.  Need to find out if System.Xaml behaves this way, but most likely does.

[2015-12-03 18:28] cwensley commented on #6
Thanks for the bug report!  The deserialization should handle any double value, so the TypeConverter probably needs updating for that.  It is probably something to do with the culture used to deserialize.

As for the DefaultValueAttribute, it doesn't look like that's used when serializing so it'll need to be implemented.  I've added a separate (issue #7) to track that.

[2016-01-04 05:06] Benrnz opened #8 "Dates are not serialised in the same format as System.Xaml"
Hi,
I've been using this package to help me convert a library that uses XamlServices to serialise data into XAML.  I've noticed that when loading XAML serialised with System.Xaml dates have been formated using the ISO 8601 date format (aka "o" date format in c#).  Where as Portable.Xaml is serialising using an invariant or US date format.

I want to get your feedback on this before I work on a Pul

[2016-01-04 05:09] Benrnz commented on #8
My suggested fix would be to replicate the behaviour of System.Xaml in this case (I know your documentation does say the intention is to not necessarily replicate the behaviour exactly).

[2016-01-04 05:20] cwensley commented on #8
Hi @Benrnz, thanks for reporting the issue!

Even though I don't intend the behaviour to be exact, it is more that Portable.Xaml might provide more features than System.Xaml.  For existing functionality such as this, I think it'd be ideal if Portable.Xaml matches it more closely.

Currently I am only focusing on deserialization of xaml, so contributions for serialization are very welcome.

[2016-01-04 05:25] Benrnz commented on #8
Thanks for the fast response. I'll take a look at it over the next couple of days.

Cheers

[2016-01-05 03:59] Benrnz commented on #8
Hey @cwensley
I've dug into this a little today, and I've found the unit test file that contains many other similar tests.  `MonoTests.Portable.Xaml.XamlXmlWriterTest`. However I'm confused by the way these tests are setup.  It appears they are testing the `System.Xaml.XamlServices` static class, shouldn't these tests be calling `Portable.Xaml.XamlServices`?

Is there some special setup I'm missin

[2016-01-05 04:07] Benrnz commented on #8
Nevermind, I've just figured it out.  The three unit test projects are all using the same linked files, and I've been running the tests from the 4.5 project which invokes System.Xaml, but the Portable.Xaml-tests-pcl259 invokes Portable.Xaml.

Cheers

[2016-01-05 18:59] wieslawsoltes opened #9 "RuntimeNameProperty attribute does not set name property"

[2016-01-05 19:04] cwensley commented on #9
Thanks for the issue report!

Do you mean that you're using `x:Name`, and it isn't populating the property that is referred to by `RuntimeNameProperty`?

[2016-01-05 19:10] wieslawsoltes commented on #9
Yes when using `x:Name`.

My demo project: https://github.com/wieslawsoltes/XamlDemo

[2016-01-05 19:18] cwensley commented on #9
I see that you're trying to use classes from WPF.  Those use `System.Xaml`'s `System.Windows.Markup.RuntimeNamePropertyAttribute`. Portable.Xaml does not use/know about any of those attributes and has its own [`Portable.Xaml.Markup.RuntimeNamePropertyAttribute`](https://github.com/cwensley/Portable.Xaml/blob/develop/src/Portable.Xaml/Portable.Xaml.Markup/RuntimeNamePropertyAttribute.cs) that you m

[2016-01-05 19:30] wieslawsoltes commented on #9
I do not use WPF classes, just use same class names and I use `Portable.Xaml.Markup.RuntimeNamePropertyAttribute`. I just have `WPF` version for comparison.
I have refactored my model to new file for more calirity: https://github.com/wieslawsoltes/XamlDemo/blob/master/XamlDemo/Model.cs.

I am not sure I did understand why I need shim package.

[2016-01-05 19:33] cwensley commented on #9
Ah, I misunderstood what I was looking at there and got confused with the App.xaml/MainWindow.xaml and thought you were trying to get Portable.Xaml to load those.

I'll take a look!

[2016-01-06 04:56] #9 closed

[2016-01-06 04:56] cwensley commented on #9
Thanks again for reporting the issue!  This should now be fixed in the develop branch, including tests.

[2016-01-06 07:44] wieslawsoltes commented on #9
Thanks. Tested, fix is working as expected.

[2016-01-06 09:33] wieslawsoltes opened #11 "Add support for System.Collections.Immutable"
Sample model:
https://github.com/wieslawsoltes/XamlDemo/blob/immutable/XamlDemo/Model.cs

Sample Xaml:
https://github.com/wieslawsoltes/XamlDemo/blob/immutable/XamlDemo/Project.caml

[2016-01-06 16:36] cwensley commented on #11
nice suggestion!  do you know if System.Xaml supports immutable collections?  I ask as I'm not sure the best way to implement this.  E.g. should we look for the Add() method and if it returns the same collection instance, set it back to the property?  Or is it that it builds up an internal list and creates a new instance of the immutable when setting the property..

Probably a good idea to add som

[2016-01-06 16:48] wieslawsoltes commented on #11
`System.Xaml` does not support, at least in my sample it failed.

I have found this solution used in `Newtonsoft.Json`: https://github.com/JamesNK/Newtonsoft.Json/blob/4c256e7afd46197a6e40127f77dff18e8f044b8c/Src/Newtonsoft.Json/Utilities/ImmutableCollectionsUtils.cs

[2016-01-06 16:55] cwensley commented on #11
ah ok, that makes it easy then as we can then come up with our own strategy to implement this.  Thanks for the link I'll take a look.

[2016-01-06 17:06] wieslawsoltes commented on #11
The `Newtonsoft.Json` works great with `Immutable Collections`.

I've been trying to find solution using built-in Xaml mechanisms from `Portable.Xaml`:
https://github.com/wieslawsoltes/XamlDemo/tree/ImmutableArray/XamlDemo/Xaml

But this is as fat I've got. And this does not work yet whe properties are of `Immutable` type, only when they are `IList<>` and later created as `Immutable`.

[2016-01-09 18:45] wieslawsoltes opened #12 "ValueSerializerAttribute does not have constructor with Type or TypeName parameter"
It's not possible to define `ValueSerializer` attribute using `Type`:
[code]
or `Type` name string:
[code]

[2016-01-10 13:49] #12 closed

[2016-01-13 17:52] #8 closed

[2016-01-20 10:00] Benrnz opened #14 "Serialising a DateTime with an offset is truncated"
Dates with an offset (ie to represent a timezone +12:00).
This date is currently truncated as follows:
`2016-02-29T15:50:51.7922645+13:00`
is serialised as
`2016-02-29T15:50:51.7922645+13:`

This value is not able to be parsed by the Xaml parser during deserialisation.

[2016-01-20 10:20] Benrnz commented on #14
I'm experimenting with an adjustment to the regex to match localised DateTime values inside the DateTimeConverter.  My new experimental regex is:
`(?=[^:])0+$`
This works fine in Javascript based regex testers (like https://regex101.com/) but not inside .Net.

For example:
`2016-02-29T15:50:51.7922000` (matching 000)
`2016-02-29T15:50:51.7922645+13:00` (not a match)
Using my above experimental reg

[2016-01-20 16:46] cwensley commented on #14
I actually ran into this as well as I was trying to update the tests to run in mono (timezone names are completely different in *nix, so "Pacific Standard Time" doesn't work).

We should actually be able to do this without regex at all.  According to [msdn](https://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx#Roundtrip), the 'o' specifier is equivalent to this custom format: "yyyy'-'MM

[2016-01-20 18:51] Benrnz commented on #14
Hey,
Yes, definitely that's a better solution.  I've just been experimenting with this and all tests are passing.  I'll put together a PR for this today. Its a shame we can't leverage the standard O date format, but still better than customising the resulting date/time string manually.

Cheers

[2016-01-20 18:55] Benrnz commented on #14
BTW- I'll also update the unit test that uses "Pacific Standard Time" to something else to avoid the differences in *nix.

Cheers

[2016-01-20 19:18] cwensley commented on #14
@Benrnz sounds great!  thanks for taking care of that.

[2016-01-22 04:04] #14 closed

[2016-02-16 23:41] grokys opened #16 "Supporting immutable types"
Currently if a type has no default constructor, it is not usable from XAML. This is a suggestion for an extension to the XAML standard.

(Ok, there's the [x:Arguments](http://stackoverflow.com/questions/1083159/calling-a-parametrized-constructor-from-xaml) directive, but it's ugly as hell and not even supported anywhere)

Immutable types are becoming more and more common, there should be a better

[2016-02-17 00:04] cwensley commented on #16
Thanks for submitting the issue!  This is an interesting problem and I agree it'd be nice if Xaml had better support for immutable objects.

In Portable.Xaml, there is currently the facility to do as you propose, but I believe it only works for markup extensions  (e.g.` {SolidColorBrush Color=Red}` would actually work).  This same functionality could possibly be extended to work for objects as you

[2016-02-17 01:07] grokys opened #17 "Deferred loading not yet implemented?"
I notice the following:

https://github.com/cwensley/Portable.Xaml/blob/master/src/Portable.Xaml/Portable.Xaml/XamlMember.cs#L335

Does this mean deferred loading is not yet supported?

[2016-02-17 01:37] grokys commented on #16
Hmm, interesting that you mention markup extensions and `ConstructorArgumentAttribute`. What are the differences between markup extensions and this that would cause problems other than the fact that markup extensions don't accept `<Class.Attribute>` properties as you mentioned?

[2016-02-17 02:45] cwensley commented on #16
Well, nothing really..  From what I can see, markup extensions are translated from xml to nodes very similarly to any other object, it is just a different syntax (e.g. it does `StartObject`, `StartMember`, `EndMember`, etc. just as if it were expressed as a tag) .  I'd have to check to see why markup extensions are so special in this regard because it honestly doesn't make sense why the same logic

[2016-02-17 03:19] cwensley commented on #16
Ok, I lied.  Looking into this further, markup extensions only work with non-default constructors when you use positional parameters (even with System.Xaml).   E.g. `{SolidColorBrush Red}` would work, but `{SolidColorBrush Color=Red}` does not.  You can specify more than one parameter with commas.  Basically, positional parameters specified this way is the same as using `<x:Arguments>`.

[2016-02-17 03:31] cwensley commented on #17
I guess not (;

I'm not even sure what API would be used to load the deferred content..  it appears at first glance that this is some internal magic that isn't actually exposed even with System.Xaml. The 'restrictions' mentioned [here](https://msdn.microsoft.com/en-us/library/windows/apps/mt204785.aspx) say it doesn't work with 'loose' xaml via `XamlReader.Load()`.

[2016-02-17 03:38] grokys commented on #17
Ah, I don't need the advanced deferred loading introduced in UWP, just the type used to implement templates etc. The API for that is pretty simple - you can see an example here that works with System.Xaml.

https://github.com/grokys/Avalonia/blob/master/Avalonia/FrameworkTemplate.cs#L21

[2016-02-17 03:47] cwensley commented on #17
Ah, thanks for the info - I'm not very familiar with how to work with deferred loading in xaml.  It appears that it mainly operates through `XamlNodeList`, which is also [woefully incomplete](https://github.com/cwensley/Portable.Xaml/blob/master/src/Portable.Xaml/Portable.Xaml/XamlNodeList.cs#L32).

[2016-02-17 03:57] grokys commented on #17
Indeed! I was looking into Portable.Xaml to see if it would be better than OmniXaml for Perspex's needs, but without support for deferred loaders we wouldn't even have templates, so that's a no-go ;)

I'll keep my eye on developments here though!

[2016-02-17 04:04] cwensley commented on #17
Thanks, and yeah I figured you were kicking the tires for that reason.  I appreciate you submitting the issues, it'll help get Portable.Xaml up to snuff.

[2016-02-17 13:01] Michael-DST commented on #17
So sad that Xaml2009 is still not supported :(  Interestingly enough, Xamarin.Xaml supports it, but it is closed-source/internal.  So, that doesn't help us much here.

Btw @grokys, an issue you might be interested in: https://github.com/dotnet/corefx/issues/5766

Please feel free to subscribe/participate.  It would be great/ideal to get everyone on the same (Xaml) page, if possible. :smile:

[2016-02-17 13:03] Michael-DST commented on #17
Egads... caffeine hasn't kicked in yet.  My 2009 reference was actually for https://github.com/cwensley/Portable.Xaml/issues/16 ... everything else holds for this thread (and that one, too actually haha).

[2016-02-17 17:40] cwensley commented on #17
@Michael-DST as far as I can tell, Portable.Xaml does support a lot of features of Xaml 2009 already (`x:Arguments`, `x:FactoryMethod`, `x:Reference`, common types like `x:String`, etc)

[2016-02-17 17:51] Michael-DST commented on #17
Sweet.  Looking forward to diving into it. :)

[2016-03-03 21:23] cwensley commented on #17
@grokys so I have this pretty much implemented, but I can't for the life of me see what the `XamlDeferLoadAttribute.ContentType` is actually used for, in my testing it doesn't matter what it is set to in System.Xaml, the behaviour is always the same.

Do you happen to have an idea of how the ContentType of XamlDeferLoad is actually used?  Is it ever going to be different than the type of the prope

[2016-03-03 22:00] grokys commented on #17
Sorry, no I don't - it's a long time since I implemented deferred loading using System.Xaml and I'm not sure I even understood it then! ;)

[2016-03-06 05:29] #17 closed

[2016-03-06 05:38] cwensley commented on #17
@grokys thanks.  From my testing, it doesn't appear to actually do anything when saving or loading so I'll just leave it at that.

I've added tests that now pass on both System.Xaml and Portable.Xaml that should cover the common cases and verify the behaviour, so that should hopefully be sufficient.

Thanks again for reporting the issue!

[2016-03-06 18:12] #7 closed

[2016-03-06 18:12] cwensley commented on #7
Thanks for reporting the issue, @onyultd.  This should now be fixed!

[2016-03-08 08:20] #16 closed

[2016-03-08 08:34] cwensley commented on #16
Thanks for suggesting the enhancement, @grokys!  Portable.Xaml now supports immutable types this way without using x:Arguments (although it is still supported).

I've added a bunch of tests which should cover most of the cases, including using optional parameters.  Note that you must add the `ConstructorArgumentAttribute` to any property that is used as a constructor parameter, which ties in quite

[2016-03-08 09:22] grokys commented on #16
Wow @cwensley, this is *HUGE*! :)

This would be so useful for Perspex where we make reasonable use of immutable types. I need to try giving Portable.Xaml a try with it! Unfortunately that probably won't happen this week, but maybe I can give it a try next week.

Thanks for this!

[2016-03-08 09:31] grokys opened #18 "Supporting libraries that don't know anything about XAML."
Currently certain things can only be achieved in XAML with attributes, such as describing the `Content` property. It would be nice if there were a mechanism for discovering these things _without_ using attributes, so that XAML support could be added to libraries that were not written with XAML in mind.

Maybe an `IAttributeService` could be injected into the reader so that this sort of behavior co

[2016-03-08 11:06] Mike-EEE commented on #18
Hahaha... Just another markup langauge?!  MarkupExtensions make it anything _but_ that. :wink: However, I am all for decoupling attributes from consumer implementation. :+1:

[2016-03-08 16:53] cwensley commented on #18
Yeah I couldn't agree more that it should be much easier to use Xaml with existing libraries without taking a dependency on it.

The existing mechanism for doing this by subclassing `XamlType` and overriding methods like `LookupContentProperty`, `LookupAliasedProperty`, etc. can be onerous to implement. I've done this for Eto.Forms [here](https://github.com/picoe/Eto/blob/develop/Source/Eto.Serial

[2016-03-08 18:10] grokys commented on #18
Ah, so it is already possible? I didn't know that. Even if it's rather onerous to implement, it's good to know ;)

[2016-03-08 18:28] cwensley commented on #18
@grokys yes, you can pretty much override any behaviour by subclassing `XamlType` and `XamlMember`, and overriding the appropriate method(s) in `XamlSchemaContext` to create them.  There are a few [new overridable methods](https://github.com/cwensley/Portable.Xaml/blob/develop/src/Portable.Xaml/Portable.Xaml/XamlSchemaContext.cs#L522-L569) in `XamlSchemaContext` to easily use your own `XamlMember`

[2016-03-09 07:41] amerkoleci commented on #18
Agree, System.Xaml uses the XamlSchemaContext for overriding this behavior and which attribute are mapped as Content, Name etc.

[2016-03-16 08:18] cwensley commented on #11
Now supported!

[2016-03-16 08:18] #11 closed

[2016-03-16 21:53] wieslawsoltes opened #20 "Exception thrown: 'Portable.Xaml.XamlObjectWriterException' in Portable.Xaml.dll"
This exception is thrown when trying to load Xaml that was written automatically by `Portable.Xaml` from the object graph.

[code]

Xaml to reproduce:

[code]

[2016-03-16 21:53] wieslawsoltes opened #21 "Exception thrown: 'System.NotSupportedException' in Portable.Xaml.dll"
This exception is thrown when trying to load Xaml that was written automatically by `Portable.Xaml` from the object graph.

[code]

Xaml to reproduce:

[code]

[2016-03-16 21:54] wieslawsoltes opened #22 "Exception thrown: 'System.NullReferenceException' in Portable.Xaml.dll"
This exception is thrown when trying to load Xaml that was written automatically by `Portable.Xaml` from the object graph.

[code]

Xaml to reproduce:

[code]

[2016-03-17 15:38] Mike-EEE opened #23 "x:Class / Compiled Xaml Support?"
This project is starting to look like the true successor of System.Xaml, and I am enjoying all the activity that I am seeing here. :smile:

One thing that I wanted to get on the radar here is x:Class/compiled Xaml support.  Is this possible with Portable.Xaml?  That is, I would like to be able to define a Xaml file in my project, and this file has an x:Class attribute that essentially takes the Xa

[2016-03-22 01:44] cwensley commented on #23
Hi @Mike-EEE, thanks for submitting the issue!

I've been thinking of making a code writer (that would be extensible for various languages, c# being the first obviously).  What I would like this to do is generate compilable code that won't require parsing Xaml at runtime.  I've made great strides making Portable.Xaml more efficient than it was, but eliminating it completely would certainly be idea

[2016-03-22 07:59] Mike-EEE commented on #23
Correct... essentially maybe using Roslyn to create the compilation instructions?  I've thought about this, too. :)  [BAML](http://stackoverflow.com/questions/634121/what-is-baml-file) is what I was thinking of, btw. :sunglasses:

[2016-03-24 16:03] cwensley commented on #23
Yeah, I figured that was the idea (BAML).  I think we could accomplish the same sort of thing using pure code generation though instead of creating a binary reader/writer.  However I'm open to whatever approach makes sense (;

[2016-03-24 16:21] Mike-EEE commented on #23
Haha cool... I've been wanting to get familiar w/ Roslyn. :smile:

[2016-03-24 16:50] grokys commented on #23
Yeah, code generation sounds like a great feature! Much more useful than BAML or something similar.

[2016-03-30 10:56] globeport opened #24 "Attached properties"
Hi, are you able to provide an example of using attached properties?

For example, my object model has type Grid and TextBlock analogous to the Windows.UI.Xaml Grid and TextBlock controls respectively.

I'd like to be able to parse Row, Column, RowSpan, ColumnSpan attached properties but not sure how these should fit into my object model and whether any configuration is necessary?

How would I par

[2016-03-30 12:39] grokys commented on #24
Hi, you shouldn't need to parse anything - our XAML parser should handle converting the XAML into objects. Most of the details of this are identical to e.g. WPF/UWP, how familiar are you with those frameworks? For an introduction you could try reading https://msdn.microsoft.com/en-us/library/ms749011(v=vs.100).aspx

[2016-03-30 13:02] globeport commented on #24
Sorry I really meant how would your portable XAML parser handle the above? I'm calling the method XamlServices.Load from PCL and using it to instantiate a custom object tree with all classes defined in PCL. Therefore the method wont have access to Windows.UI.XAML (DependecyProperty etc). In that case will it just ignore the attached attributes? Is it possible for me to define custom attached prope

[2016-03-30 13:50] grokys commented on #24
Ok, so are you actually using Perspex? Or are you just using OmniXAML to load the XAML?

[2016-03-30 13:53] grokys commented on #24
Ok, I believe that if you're not using any framework then attached properties should just be deserialized by calling the static accessor methods.

[2016-03-30 14:02] grokys commented on #24
I believe that if you give the XAML parser the following XAML:

    <Foo>
        <Bar.Baz>Qux</Bar.Baz>
    </Foo>

Then it will:

1. Create an instance of the `Foo` class
2. Try to find a `SetBaz` method on the `Bar` class
3. Call `Bar.SetBaz(instance, "Qux")` where instance is the instance created in step 1.

If the `SetBaz` method accepts a type other than a string, then it will try to use a t

[2016-03-30 14:03] globeport commented on #24
No no framework, but thanks for the heads up on Perspex and OmniXaml - I need to take a look at them.
Great I was just about to ask where those static methods should be registered. I'll give it a shot. Thankyou.

[2016-03-30 14:05] grokys commented on #24
@globeport sorry, I'm an idiot and thought that this issue had been posted to the Perspex repository. Apologies for the confusion,

I've just added a comment that will hopefully explain things a bit better.

[2016-03-30 14:12] globeport commented on #24
Great thanks, I'm just testing it out.

[2016-03-30 14:13] globeport commented on #24
Works perfectly thanks for your help

[2016-03-30 14:18] Mike-EEE commented on #24
Totally had me too @grokys ... I didn't know if there was an announcement or something somewhere that I missed. :smile:

[2016-03-30 16:28] cwensley commented on #24
Thanks @grokys for helping out!  (;

@globeport was your question answered fully, or do you need any further clarification?

[2016-03-30 20:37] grokys commented on #18
I'm trying out Portable.Xaml with Perspex, where we have our own equivalent of `XmlnsDefinitionAttribute`. I've overridden `XamlSchemaContext` and its `GetAllXamlNamespaces` method to do the lookup using our namespace, but the problem is that `XamlType`'s constructor seems to call the `internal string GetXamlNamespace(string clrNamespace)` method, which is failing as we've overriden `GetAllXamlNam

[2016-03-30 20:58] cwensley commented on #18
@grokys, Glancing at the API, it doesn't appear that that will be possible.  The `GetAllXamlNamespaces()` alone wouldn't give enough information to map .net namespaces to xaml namespaces and there doesn't appear to be any other overrides that would work.  However, you _can_ add separate `XmlnsDefinitionAttribute` definitions that point to a different assembly using its `AssemblyName` property (I'v

[2016-03-30 21:01] grokys commented on #18
We also have a different system for `TypeConverter`s - the documentation mentions that this should be extensible, but I can't see how. Even a `TypeDescriptor.AddDescriptor` method would suffice.

[2016-03-30 21:08] cwensley commented on #18
For `TypeConverter`'s , you can do [this](https://github.com/picoe/Eto/blob/develop/Source/Eto.Serialization.Xaml/EtoXamlType.cs#L145).  It might not be too pretty, but it works within the existing api.  You do not need to cache the instance like this code does (Portable.Xaml now caches it outside of this method).

[2016-03-31 11:11] grokys commented on #18
Yes, I think something like that should work.

[2016-04-03 00:03] cwensley opened #25 "Add support for IEnumerable properties"
When encountering an `IEnumerable` or `IEnumerable<T>` property, Portable.Xaml could instantiate a `List<T>` if one isn't specified.  This is not supported in System.Xaml, so it would be an extension of its functionality.

[2016-04-05 11:21] grokys opened #26 "IAmbientProvider.GetFirstAmbientValue(XamlType[]) returns AmbientPropertyValue"
The `IAmbientProvider.GetFirstAmbientValue(XamlType[])` method signature says it returns an `object` but it seems to return an `AmbientPropertyValue` in Portable.Xaml.

As far as I can tell, the [`IAmbientProvider.GetFirstAmbientValue(IEnumerable<XamlType>, XamlMember[])`](https://msdn.microsoft.com/en-us/library/ee474926%28v=vs.100%29.aspx) method should return an `AmbientPropertyValue` but  [`IA

[2016-04-10 15:40] Mike-EEE commented on #11
I'd just like to say that this thread has totally influenced me and led me to the light of immutable collections.  I am starting to take the dive and require them for my design going forward.  Just thought I would share! :sunglasses:

[2016-04-21 13:16] globeport opened #27 "PlatformNotSupported exception raised from UWP app compiled with .net native toolchain"
XamlServices.Parse raises a PlatformNotSupported exception (InterfaceMap), when called from a UWP app compiled for release with the .net native tool chain.

I think the calls to GetRuntimeInterfaceMap is generating this exception.

[2016-04-21 14:08] globeport commented on #27
As a quick and dirty fix Ive replaced the LookupAddMethod with the following. (this will pick the first add method it finds so not ideal as a general solution)

[code]

[2016-05-16 09:53] globeport commented on #24
No, that's all I needed thanks.

[2016-10-10 19:52] BradChase2011 opened #31 "Issue trying to get a TypeConverter to work..."
So I have a Color struct that I would like to use in xaml as a string.  In my ColorConverter, I only have the option to override the:

public override object ConvertFrom( ITypeDescriptorContext context, CultureInfo culture, object value )

The from string function seems to not be virtual.  That said I have my CanConvertFrom to return true on strings.  I applied the ColorTypeConverter to my color s

[2016-10-11 18:24] BradChase2011 commented on #31
I figured it out.  I had to load the xaml manually.  On top of that there were a bunch of other stuff missing that I presume Mono had left in other libraries so I grabbed the latest code and remade the portable xaml library with the other parts put back in.

[2016-10-31 17:38] #24 closed

[2016-11-11 21:30] gamefreak opened #32 "x:TypeArguments does not work unless the type's namespace was declared with `clr-namespace:`"
Attempting to instantiate a generic object such as `GridView<T>` fails unless the xml namespace is specified with in terms of `clr-namespace:`

This fails:

[code]

But the following version will work:

[code]

[2016-11-17 00:29] #32 closed

[2016-11-17 00:31] cwensley commented on #31
Thanks for submitting the issue.  I'm closing as you've figured it out.  The MSBuild:Compile option does not work with Portable.Xaml so that makes sense that it didn't work.

[2016-11-17 00:31] #31 closed

[2016-11-17 01:22] BradChase2011 commented on #31
Thanks for the reply.  I gotta ask though, is there a reason you didn't move the other classes and remove the forms bits from the original code to work with msbuild?  It seems to work just fine for me right now...  I had to build my own bindings and such but that wasn't such a pain.

[2016-11-17 01:24] cwensley commented on #31
I'm not sure I follow.. move what other classes and remove what forms bits?

[2016-11-17 01:29] BradChase2011 commented on #31
I'd have to go back into the code it's been awhile since I peaked at it.  I have it on visual studio team services at the moment.  But there were some direct calls to the forms library inside for specific xamarin forma stuff that needed removed in their latest code to separate them out and they seemed to have classes in other namespaces that I didnt see in your library.  I had to move a couple ove

[2016-11-17 01:31] BradChase2011 commented on #31
They still have issues with things like data templates and resource dictionaries that I removed from checking in the readers if I can remember correctly.

[2016-11-17 01:40] cwensley commented on #31
Hm, this project is not the same as what's used in Xamarin Forms.  This was derived from mono's  [System.Xaml](https://github.com/mono/mono/tree/master/mcs/class/System.Xaml), so that explains some of the discrepancy you're seeing there.

I'm not opposed to changes to Portable.Xaml to make it more compatible with Xamarin.Forms, but that will have to be done by the community as I'm not focussed on

[2016-11-17 01:59] cwensley commented on #22
This might have been fixed now with PR #33, it appears that your xaml is using generic types from a uri namespace which had problems.

[2016-11-17 02:00] cwensley commented on #21
This might have been fixed now with PR #33, it appears that your xaml is using generic types from a uri namespace which had problems.

[2016-11-17 02:00] #26 closed

[2016-11-17 02:18] cwensley commented on #27
This might be because you are using the .net 4.0/PCL 136 assembly which tries to use reflection to call Type.GetInterfaceMap(), try the .net 4.5/PCL 259 assembly instead.

[2016-11-17 02:51] BradChase2011 commented on #31
Ahh I see now.  OK I thought it came from the xamarin repository.  Sorry about that.  It seems they have improved upon it since the straight mono version.  Yea I'm not using it for xamarin forms at all.  I'm using it for my own personal monogame xaml menuing interface so people can just write high performance xaml whether for video games or vr or what not.  But that definitely explains why I saw a

[2016-11-17 05:47] Mike-EEE commented on #31
I personally would would definitely be interested in seeing anything using menus and monogame. :)  Are you familiar with [EmptyKeys](http://emptykeys.com/)?  That's what's on the top of my list as far as xplat menuing goes, whenever I can finally start digging into it.

[2016-11-17 12:02] BradChase2011 commented on #31
Haha I had no idea that existed!  I can't wait to dig into the code but yea that seems to be almost the exact idea of what I've been building haha.

[2016-12-29 11:13] cwensley commented on #22
Closing this for now, feel free to re-open if this is still an issue!  Thanks again for reporting it.

[2016-12-29 11:13] #22 closed

[2016-12-29 11:13] cwensley commented on #21
Closing this for now, feel free to re-open if this is still an issue!  Thanks again for reporting it.

[2016-12-29 11:13] #21 closed

[2016-12-29 12:05] wieslawsoltes commented on #22
Checked with version 0.15 and can confirm its fixed.

[2016-12-29 12:05] wieslawsoltes commented on #21
Checked with version 0.15 and can confirm its fixed.

[2017-01-05 20:21] cwensley commented on #23
Ok so I've written a very basic XamlWriter that writes some code using Roslyn and came across a glaring problem that I haven't quite figured out yet.

Basically, to parse the xaml the project needs to be compiled if you use any local types. However, you can't compile unless the stub for the named objects is generated if you use them from the partial class.

Perhaps it needs to fake the types when

[2017-01-06 10:59] Mike-EEE commented on #23
Ahhh I wish I had some cycles to put into this.  I am really glad (and impressed!) that you are checking this out.  I do know that Xamarin.Forms does something close to this, using EmbeddedResource... might be worth a looksee to how they do it?

Maybe it also doesn't work with local classes to the project it is contained.  FWIW, I am fully OK with this being a limitation for a v1.0 feature.  When

[2017-01-06 12:19] grokys commented on #23
It's been a while since I've worked with Roslyn, but I imagine there must be a way to add a type that hasn't yet been declared? It wouldn't need to compile immediately but instead create a .cs file and when that file is included in the project and compiled all the types would resolve.

[2017-01-06 12:41] Mike-EEE commented on #23
Ahhhh good point @grokys.  I was thinking of that, too.  Roslyn does compile C#/VB projects, after all.  There must be a sorting/priority mechanism that is in place to properly resolve the symbols.

[2017-01-06 17:26] cwensley commented on #23
It's not Roslyn that's the problem, as you can just specify types and identifiers by strings.  It's loading the xaml, which if it used the same Xaml parser, could not load unless the types are pre-compiled.

From what I understand on how Xamarin.Forms does this, is it creates a stub .cs file that just calls XamlServices.Load() to load the embedded resource, and it also picks out any identifiers an

[2017-01-06 17:46] Mike-EEE commented on #23
Another consideration might be to look into PostSharp.  It has some pretty awesome magic when it comes to compiling assemblies.  Here's an aspect that deals with assembly resources, for instance:
http://doc.postsharp.net/resource-introduction

They provide open source licenses for projects as well.  Not sure if it would be useful for this scenario, but I wanted to make sure you are aware of it.

[2017-01-07 04:56] #6 closed

[2017-01-26 20:18] cwensley opened #42 "Eliminate need for xmlns in xaml markup"
In the same way the msbuild team has eliminated the need for xmlns declaration(s), it would be nice if xaml had the same ability.

Of course the default namespaces would still have to defined somewhere, possibly in the XamlXmlReaderSettings

[2017-01-26 20:49] Mike-EEE commented on #42
I'm sure if you have checked out [Ammy](http://www.ammyui.com/2017/01/04/ammy-modern-ui-language-for-xaml-platforms/) you have seen that it has done away with a lot of the ceremony, too.  So, this is a well-intended item.  Even so, I'm curious on how you would do this.  Are you saying for the default/common types?  Or all types?  MSBuild isn't POCO based, so it is easy to see how that could be acc

[2017-01-27 03:38] cwensley commented on #42
The way I see this working is by specifying the default xmlns mappings in code, vs in the xaml.  Typically, one would have your own code for loading xaml, and it would only work with specific xaml files.  For example, Eto.Forms has `Eto.Serialization.Xaml.XamlReader.Load()`, WPF has `System.Windows.Markup.XamlReader.Load()`, etc.

In this, you'd do something like this:

[code]

If the Xaml itself

[2017-01-27 04:06] Mike-EEE commented on #42
Cool... like where you are going with this.  Definitely use namespaces defined in XML as the precedent before code.  If not defined there, then use what is defined in code as you highlight above.  Although... will the XML even read/load if you are using a namespace prefix if it is not defined at the time it is read?  I thought that was a requirement/expectation of `XmlReader`?  Not 100% sure howev

[2017-01-27 04:34] cwensley commented on #42
I guess the functionality will be reliant on how [`XmlParserContext`](https://msdn.microsoft.com/en-us/library/system.xml.xmlparsercontext(v=vs.110).aspx#Anchor_5) works when you specify a `XmlNamespaceManager`, but yeah that's how I'm hoping it would work (namespaces defined in XML taking precedence).

Tying into defined `XmlnsDefinitionAttribute` of an assembly is also a great idea, I'll think a

[2017-01-27 04:40] Mike-EEE commented on #42
Haha cool.  I might have just talked myself into a PR heh heh.

[2017-01-27 07:41] cwensley commented on #42
aaaannnd done.

Seems to work exactly as you'd expect, which is pretty awesome.  I will absolutely love writing xaml without xmlns definitions everywhere.

[2017-01-27 08:26] Mike-EEE commented on #42
WOW!  super fast.  Very very cool.  So no problems with XmlReader then?

[2017-01-27 08:28] Mike-EEE commented on #42
Ah I see how you did it.  Very nice. 👍

[2017-01-27 08:29] cwensley commented on #42
@Mike-EEE, only problem I ran into is that when you pass an XmlReader to XamlXmlReader, it can't load it as a fragment (which is what is needed to specify the XmlParserContext).  I just read it as text into a StringReader to bypass that, but it is more efficient to use TextReader, Stream, or String (;

Also, subsequently Portable.Xaml is now closer to 2x faster than System.Xaml after this change a

[2017-01-27 08:37] Mike-EEE commented on #42
That's excellent!  Nice work. 🥇

[2017-01-27 09:01] #42 closed

[2017-01-27 09:04] cwensley commented on #42
Thanks for the support @Mike-EEE, you're enthusiasm is infectious. 😄

[2017-02-27 07:23] cwensley commented on #20
@wieslawsoltes Ok, I've tried but I can't seem to replicate this issue.  Is this still occurring for you?

[2017-03-05 08:40] wieslawsoltes commented on #20
@cwensley

Yes I still get the exception and its easily reproducible in my app. I'm using version 0.15.0 from NuGet.

This is my serializer code:

https://github.com/wieslawsoltes/Core2D/tree/master/src/Serializer.Xaml

This is my app:

https://github.com/wieslawsoltes/Core2D/tree/master/src/Core2D.Wpf

Video how to reproduce:

![2017-03-05_09-37-03](https://cloud.githubusercontent.com/assets/2297

[2017-03-09 21:55] donandren opened #45 "Defered loader with list content is crashing"
Assuming ControlTemplate is deferedloader, Panel is having Content Property (List of Controls)

This xaml is producing exception:

[code]

example unit test:
https://github.com/donandren/Avalonia/blob/portablexaml/tests/Avalonia.Markup.Xaml.UnitTests/Xaml/BasicTests.cs#L223-L244

the same situation without list content is working fine:
[code]

[2017-03-09 22:06] donandren opened #47 "xaml namespaces are not preserved when using defered loader"
example:

DataTemplate is defered loader. Static extension is not able to resolve the type local:NonControl
as namespaces context is not preserved in the defered loader:
[code]

Example unit test:
https://github.com/donandren/Avalonia/blob/portablexaml/tests/Avalonia.Markup.Xaml.UnitTests/Xaml/BasicTests.cs#L820-L840

Currently I've found work around writing namespaces to the defered content:
http

[2017-03-09 22:44] donandren opened #48 "Simple values used with full clr-namespace definition are not resolved"
example:
[code]
x:Double type is resolved properly
sys:Double type is not resolved

currently in Avalonia there is a workaround for that:
https://github.com/donandren/Avalonia/blob/portablexaml/src/Markup/Avalonia.Markup.Xaml/PortableXaml/AvaloniaXamlSchemaContext.cs#L106-L129
and it's working fine for now

[2017-03-10 06:28] #45 closed

[2017-03-10 07:39] cwensley commented on #48
I can't seem to reproduce this, perhaps there's something else going on?  See #50 for updated tests.

[2017-03-10 07:41] cwensley commented on #48
Looking at your code, perhaps you had [this](https://github.com/donandren/Avalonia/blob/portablexaml/src/Markup/Avalonia.Markup.Xaml/PortableXaml/AvaloniaXamlSchemaContext.cs#L23) turned on when testing that..  It wouldn't resolve unless mscorlib was part of the referenced assemblies list.

[2017-03-10 08:19] donandren commented on #45
@cwensley  nice thanks

[2017-03-10 08:23] donandren commented on #48
@cwensley you have a point actually i was using referenced assemblies, when i had problems with this. Then commented them, because  was not sure do i need it.

[2017-03-10 08:39] cwensley commented on #48
You only would need it if you want to restrict which assemblies you want the xaml to be able to reference.

[2017-03-10 18:12] donandren commented on #48
thanks for the info

[2017-03-10 18:12] #48 closed

[2017-04-19 10:53] globeport commented on #27
I am using the PCL 259. GetRuntimeInterfaceMap is called in the above method in the XamlTypeInvoker class. Thanks.

[2017-05-13 22:59] claunia commented on #32
Uhm I'm trying that and I get "The  value for 'Control' property is null".

[2017-05-17 06:42] cwensley commented on #47
This looks like it is by design.  System.Xaml from .NET 4.5 doesn't appear to preserve namespaces in the resulting node list either.  You can determine this by running the tests in the `Portable.Xaml-tests-net_4_5` on windows.

Since you have a way to make it work for your purposes, I think that would be sufficient and we don't need to extend Portable.Xaml to provide extra functionality here.  Tho

[2017-05-17 06:45] cwensley commented on #25
Not really a great idea after thinking about it -- you should explicitly specify the type of object to create in xaml.  Otherwise, if you want to add a number of objects that also happen to implement IEnumerable it wouldn't work.

[2017-05-17 06:45] #25 closed

[2017-05-17 06:59] Mike-EEE commented on #25
Maybe check for `IList`?  That is, support `IEnumerable` properties, but only if they implement `IList` (or `IEnumerable<>`)

[2017-05-17 08:07] donandren commented on #47
that's fine, we have a way to overcome this issue with bit more advanced loader and manually attaching namespaces

[2017-05-17 09:55] cwensley commented on #47
Excellent, thanks for the feedback.  I might snag your unit test you added if that's alright just to make sure that works going forward.

[2017-05-19 10:42] #47 closed

[2017-05-23 08:21] wieslawsoltes commented on #20
@cwensley Tested with version 0.16.0
[code]

Updated Xaml for latest version of Core2D https://gist.github.com/wieslawsoltes/dcc5ee153d1bdd8d89a654ac13750b2f

[2017-05-23 08:41] wieslawsoltes commented on #20
This may be related how `Name` property is written by `Portable.Xaml` as `cs:Name="AND"`:
https://gist.github.com/wieslawsoltes/dcc5ee153d1bdd8d89a654ac13750b2f#file-and-xaml-L1
https://github.com/wieslawsoltes/Core2D/blob/master/src/Serializer.Xaml/CoreAttributeProvider.cs#L24
https://github.com/wieslawsoltes/Core2D/blob/master/src/Core2D/Attributes/NameAttribute.cs#L11
https://github.com/wieslaw

[2017-05-23 15:40] wieslawsoltes commented on #20
@cwensley I have created minimal reproduction for this issue here (standalone .Net Core console app): https://github.com/wieslawsoltes/Core2D/tree/PortableXamlIssue20/apps/PortableXamlRepro

[2017-05-23 18:59] cwensley commented on #20
@wieslawsoltes, awesome thanks for putting together a more minimal reproduction!  I'll try to get this down to "unit test size", e.g. the most minimal to repro the issue without dependencies so I can add a unit test for it.

I think you might be right in that the namespaces that are causing the issue here.  It's pretty odd that it's using a different namespace for the properties of the class and i

[2017-05-27 04:28] #20 closed

[2017-05-27 04:28] cwensley commented on #20
Ok, this should hopefully be fixed!  Thanks for the pointer on the namespaces as Portable.Xaml was writing invalid xaml in that case.  All attributes and elements of the parent element should not have a namespace defined even if they are from a base class in a different namespace.

If you have time, I'd love it if you can give it a go and see if it works for your app.

[2017-05-29 18:45] wieslawsoltes opened #55 "Invalid Name attribute content when writing xaml"
When writing xaml I get invalid context of the Name attribute, it should be empty but it contains `&quot;&quot;`

Xaml: https://gist.github.com/wieslawsoltes/38b21783d88dba1e0c022599011a9131

[2017-05-29 18:46] wieslawsoltes commented on #20
@cwensley Tested merged fixes and generated xaml is better: https://gist.github.com/wieslawsoltes/38b21783d88dba1e0c022599011a9131 and this exception is gone.

But got another issue reported here https://github.com/cwensley/Portable.Xaml/issues/55

[2017-05-30 17:07] wieslawsoltes opened #56 "Add support for defining default values with the ShouldSerialize and Reset methods"
Seems like its not supported in Portable.Xaml.

I have tested serialization using this pattern with Newtonsoft.Json and it worked.

References:
* http://www.newtonsoft.com/json/help/html/ConditionalProperties.htm
* https://msdn.microsoft.com/en-us/library/53b8022e(v=vs.110).aspx

This cleans-ups xaml and allow convention-based control over serialization in model.
For example:
* remove empty `Immut

[2017-05-31 05:12] #55 closed

[2017-05-31 05:18] cwensley commented on #55
Hey thanks for reporting the issue!  I did notice that but didn't know if it was intentional or not.  It appears that Portable.Xaml assumed that it was writing a markup extension when writing an empty string.  Should now be fixed!

[2017-05-31 05:45] #56 closed

[2017-05-31 05:47] cwensley commented on #56
Looks like this is supported by System.Xaml so I've now implemented this for Portable.Xaml as well.  It appears to work regardless of the accessibility of the ShouldSerialize method, so even private methods will be used if defined.

[2017-05-31 11:50] wieslawsoltes commented on #55
Thanks for quick fix!

[2017-05-31 12:53] wieslawsoltes commented on #56
Thanks, working great. Now after this and previous fixes generated Xaml is looking really nice and its human readable, some examples below:
https://gist.github.com/wieslawsoltes/b14a711017a22e83803c373e6a446751
https://gist.github.com/wieslawsoltes/78e8fe12a216bac3009d359908e47269
https://gist.github.com/wieslawsoltes/359af52a524a286f769831ac5c13a680
https://gist.github.com/wieslawsoltes/daebe75f7

[2017-05-31 12:59] wieslawsoltes opened #59 "Auto-generate Name property value when string is null or white-space for x:Reference's"
When generating Xaml some objects have null or white-space in the Name property (if present) and this cause code like this: https://gist.github.com/wieslawsoltes/b14a711017a22e83803c373e6a446751#file-and_new-xaml-L73, when loading Xaml you will get exception.

One option is to throw exception during xaml writing and let user know that Name is invalid when its object is referenced.

Other option is

[2017-05-31 13:24] wieslawsoltes opened #60 "Write object x:Reference's as attributes"
Current behavior:
[code]
Desired behavior:
[code]
This would clean-up generated Xaml and decrease line count.

[2017-05-31 15:31] cwensley commented on #59
Hm, interesting problem!  I think how it works right now is it'll do the right thing if it is null, but if it is not null (even empty) it'll use what is specified. I'll have to check to see what System.Xaml does in this case.

Ideally at least when there's two objects with the same name it should probably throw an exception when trying to reference one of them as it'd be ambiguous.

I would also g

[2017-06-01 07:27] wieslawsoltes opened #61 "Do not write unnecessary type information in generated xaml"
Xaml writer adds unnecessary type information in generated xaml

This is generated xaml:
https://gist.github.com/wieslawsoltes/48644ca196fc740f85cc8ce1019042b3#file-and_fixed-xaml-L3

and this is with removed type information:
https://gist.github.com/wieslawsoltes/d36baf6bb4a858d125438f04c61301ed#file-and_fixed_immutable-xaml-L3

Both version deserialize without errors.

[2017-06-01 08:59] wieslawsoltes commented on #59
I have one object where I have forgot to set `[Name]` attribute for the `Name` property and generated xaml looks like this:
[code]
the `x:Name` is automatically generated. Not sure what logic should be if custom `[Name]` property is used and its white-space or null.

PS. You see that in this case indentation is somewhat broken:
[code]

[2017-06-01 09:31] wieslawsoltes commented on #59
Interesting, I have added missing `[Name]` attribute for this object and generated xaml looks like this:
[code]
All is ok know, but the `Owner` is referenced as attribute which is how I wanted. This is related with this issue https://github.com/cwensley/Portable.Xaml/issues/60. The other objects `BaseShape` has also `Owner` property but its not serialized as attribute.

[2017-06-01 09:35] wieslawsoltes commented on #59
Another thing, when I set `Name` to empty string I get this:
[code]
this is related to this issue https://github.com/cwensley/Portable.Xaml/issues/55. Not sure if in this case `&quot;&quot;` is valid value for `x:Reference`.

[2017-06-02 03:49] cwensley commented on #59
Hey @wieslawsoltes, thanks for the notes.

It should if you use a `RuntimeNamePropertyAttribute` (or [Name] attribute in your case as I guess you have it mapped).  It looks like it would only generate the name if it is null.  I'm not sure if System.Xaml just checks for null as well, but my guess is that it is the intended behaviour.

It'll show up as an attribute as long as no property before it n

[2017-06-15 20:15] cwensley opened #62 "Binding to events with base EventArgs does not work"
If the event requires something like `MyEventArgs`, then `EventArgs` for the method should work.

[2017-06-28 20:58] grokys commented on #18
Closing this as it's an old discussion and no point keeping it open.

[2017-06-28 20:58] #18 closed

[2017-08-02 04:33] pgrho opened #63 "MarkupExtension-like value should be escaped"
I am using Portable.Xaml to serializing object that contains `Json` property.
But `XamlServices.Save` outputs invalid XML like that:

[code]

And this can'be parsed by `XamlServices.Load`.
I think the output should be escaped as such:

[code]

[2017-08-03 15:16] cwensley commented on #63
Hey @pgrho, thanks for submitting the issue!  Yes, you are right it should be escaped so it doesn't think it's a markup extension.  Good catch!

[2017-08-05 09:31] grokys opened #65 "Markup extensions don't seem to need to derive from MarkupExtension"
As far as I know, in System.Xaml to create a new markup extension you need to derive from the `MarkupExtension` base class. However in Portable.Xaml this doesn't seem to be the case.

For example, if I change [this class](https://github.com/cwensley/Portable.Xaml/blob/d50730ab59aed99cd2f8aeb4975fcc19d23bb54f/src/Test/System.Xaml/TestedTypes.cs#L402) in the tests to *not* derive from `MarkupExtensi

[2017-08-06 17:15] grokys opened #66 "Exceptions not thrown on missing or read-only property set."
I created the following test program:

[code]

There are 2 things wrong with the XAML here:

- Trying to set readonly property `Foo.ReadOnly`
- Trying to set non-existent property `Missing`

However program runs and the XAML loads without exception. If I run it with System.Xaml exceptions are thrown.

[2017-08-23 22:50] cwensley commented on #65
Hey @grokys, thanks for the report but I think you have the wrong conclusion on how a 'markup extension' is parsed.  The markup extension syntax can actually apply to any object when reading, but it does affect how it *writes* the xaml.

You can test System.Xaml with the `Portable.Xaml-tests-net_4_5` project.  If I make that change all tests still pass except for the Write_MyExtension tests.

This

[2017-08-23 22:50] #65 closed

[2017-08-23 23:11] grokys commented on #65
That doesn't sounds right to me:.iIf I create a new WPF project with a class:

[code]

And then in markup I try to reference that class as a markup extension:

[code]

I get the error:

[code]

[2017-08-23 23:12] cwensley commented on #65
WPF != System.Xaml afaik..  Have you tried it with System.Xaml?

[2017-08-23 23:17] grokys commented on #65
Indeed you are right. Color me amazed! This is obviously something enforced by WPF rather than by System.Xaml then. TIL ;)

[2017-08-23 23:46] cwensley commented on #66
Thanks for the issue report!  I believe this is fixed in #54.

I've added specific tests for these two exact cases though.

[2017-08-23 23:47] cwensley commented on #65
I don't think WPF uses System.Xaml when you are compiling, hence some behaviour disparity.  I believe it does use it when parsing Xaml at runtime though.

[2017-08-23 23:55] grokys commented on #66
Thanks! Looks like that PR was merged after the last release, which would explain why I was still seeing it in 0.16.0. Closing.

[2017-08-23 23:55] #66 closed

[2017-08-24 05:25] #63 closed

[2017-08-24 05:26] cwensley commented on #63
Thanks again!  Should now be fixed.

[2017-08-24 06:59] pgrho commented on #63
Worked fine! May I ask you to upload to NuGet?

[2017-09-03 22:37] cwensley commented on #62
Looks like System.Xaml doesn't support this, so this will be added as an enhanced feature.

[2017-09-05 17:54] cwensley opened #70 ".NET standard vs PCL api differences"
For .NET Standard, I've enabled the use of the built-in TypeConverter.  However, these api's aren't available for the PCL profiles so Portable.Xaml comes with its own TypeConverter implementation.

This poses a problem if you have a PCL library and a .NET Standard (or Full .NET) library in the same solution, if you use any of the API's that are different.

There are a few options here:

1. Remove

[2017-09-06 07:03] #62 closed

[2017-09-06 07:10] cwensley commented on #63
@pgrho it's now on NuGet as v0.17.  Enjoy!

[2017-09-07 17:58] cwensley commented on #70
Here's an idea, revert .NET Standard to use the Portable.Xaml type converters, but provide a shim so it will also be compatible with standard type converters..

Eventually when PCL is no longer needed/supported, then the built-in type converters could be removed.

[2017-09-28 21:45] kekekeks opened #71 "Portable.Xaml doesn't recognize property as a collection if it's declared type doesn't look like one"
[code]

[code]

`Foo.Bars` collection will be empty. No exception will be thrown.

[2017-10-14 14:37] grokys opened #72 "Support `DependsOnAttribute`"
As far as I can see, `DependsOnAttribute` isn't yet supported in Portable.Xaml.

[2017-10-16 01:30] jkoritzinsky commented on #70
I have an idea for how to solve this.

For PCL, change the namespaces to match the namespaces of the types in .Net Framework and .Net Standard. Then in the .Net Standard build, use type forwarders to forward the type definitions over. Other than the initial build break from changing the namespaces, this provides a simple direction to move forward with new .net standard versions and not prevent PCL

[2017-10-16 01:31] jkoritzinsky commented on #70
This would also allow you to remove PCL support in the future and not break builds when people switch over to .net standard.

[2017-11-03 16:59] danwalmsley opened #74 "Parsed invalid Xaml without throwing an exception"
I had the following code:

`<previewer:AvaloniaPreviewer Xaml="{Binding SourceText}" SourceFile={Binding SourceFile}" />`

Portable.Xaml parsed it without an issue. Notice missing " after SourceFile=

[2017-11-11 13:19] kekekeks opened #75 "Regression: Attached properties from non-default namespaces don't work"
[code]

Portable.Xaml generates an unknown member here: https://github.com/cwensley/Portable.Xaml/blob/develop/src/Portable.Xaml/Portable.Xaml/XamlXmlReader.cs#L548 and doesn't add the attribute, so `ProcessAttributesToMember` doesn't see it and doesn't generate an attached member. XamlMember being unknown causes a crash in xaml writer later.

As a quick fix I've changed it like this: https://gith

[2017-11-12 19:55] grokys opened #76 "Whitespace not trimmed correctly"
With the following Avalonia XAML:

[code]

The `TextBlock`'s `Text` is set to `\n        Whitespace is trimmed.\n` (with 8 spaces between the first `\n` and the text which markdown is removing). This seems to be in incorrect according to the [XAML Specification](https://docs.microsoft.com/en-us/dotnet/framework/xaml-services/whitespace-processing-in-xaml) which says:

[2017-12-15 05:01] jogibear9988 commented on #71
From where should it know that it should be a collection? I would expect that It would deserialize as one "Bar" object

[2018-01-19 22:30] #76 closed

[2018-01-21 05:30] cwensley commented on #70
Fixed with #81

[2018-01-21 05:30] #70 closed

[2018-01-21 07:43] #75 closed

[2018-01-21 07:43] cwensley commented on #75
Hey, thanks again for reporting the issue!  This should now be fixed with #82.

Your quick fix causes the following tests to fail (which is what caused the regression to begin with), so I opted to only allow it when the name has a '.', meaning it's an attachable property.
[code]

Cheers!
Curtis.

[2018-01-21 07:45] cwensley commented on #71
Hm, do we know if System.Xaml works in this case?

You might be able to subclass XamlSchemaContext/XamlType to get this behaviour for known types/properties, but I haven't looked into it thus far.

[2018-01-22 08:51] kekekeks commented on #71
`System.Xaml.XamlObjectWriterException: 'Cannot set unknown member 'Sandbox.Foo.Bars'.'`

I guess it would be OK to throw exception in this case then.

[2018-02-20 20:17] DevJohnC opened #89 "Object type and MarkupExtension with conflicting names."
When you have a graph object and `MarkupExtension` that share a name (but distinct type names) Portable.Xaml attempts to cast markup extension parameters to the graph object's type.

Take these classes:
[code]

and this XAML:

[code]

It's expected that Portable.Xaml will choose `ReportExtension` to create the `Target` property because it has a more specific type name (it has the `Extension` suffi

[2018-02-20 20:21] cwensley commented on #89
Thanks for the report!

Afaik, name resolution tries to use the non-suffixed name first so you may need to change one of those or use ReportExtension in the xaml.  It'd be interesting to see if System.Xaml behaves the same way.

[2018-02-27 21:14] DevJohnC opened #91 "XamlNodeList missing nodes when using XamlDeferringLoader"
As seen [in this issue](https://github.com/dmetzgar/corewf/issues/6#issuecomment-317568928) Portable.Xaml produces an incomplete `XamlNodeList` when using a `XamlDeferringLoader`.

Take the example markup:

[code]

and C# code:

[code]

and you'll end up with a `XamlNodeList` that looks identical to the first image in the [linked issue above](https://github.com/dmetzgar/corewf/issues/6#issuecommen

[2018-02-27 21:21] DevJohnC opened #92 "Using XamlNodeList.GetReader() with XamlNodeList.Writer infinite loop with endless memory consumption."
Attempting to create instances of objects from the (incomplete) XamlNodeList created in [this issue](https://github.com/cwensley/Portable.Xaml/issues/91) using `XamlNodeList`.`GetReader()` and `XamlNodeList`.`Writer` will endlessly consume memory.

[code]

[2018-02-27 21:22] cwensley commented on #92
Thanks for submitting the issue!  Just noticed.. you're trying to both read AND write to TemplateNodes.  You need to read from one list, then write to another list.

[2018-02-27 21:30] DevJohnC commented on #92
Ah, so I made a newbie mistake. That makes sense.

[2018-02-27 21:56] cwensley commented on #92
Ok, closing. (;

[2018-02-27 21:56] #92 closed

[2018-03-02 09:49] ewinnington commented on #91
Thanks for filing this! I was away from keyboard on holiday this last week.

[2018-03-07 13:40] ewinnington commented on #91
I've attached a project in .net framework 4.6.1, replicating on your ItemContainer the behavior of 10 nodes in System.Xaml versus 2 nodes in Portable.Xaml.

[code]

Which results in:
ObjectSystemXaml : Nodes : 10
ItemContainerPortable : Nodes : 2

Maybe that can help to narrow it down. This does look like the behavior of[ loading the Workflow Foundation activities from xaml](https://github.com/dme

[2018-03-07 18:15] cwensley commented on #91
Thanks @ewinnington and @DevJohnC, the examples are great!  I'll take a look!

[2018-03-17 23:10] wjk opened #93 "x:Static can't resolve internal types"
The title really says it all. The member being resolved can be non-public, but the type itself must be public or `{x:Static}` will not be able to find it. (I'm using version 0.21.0.) Could this please be rectified? Thanks!

[2018-05-05 19:49] grokys opened #95 "Attached member lookup uses incorrect namespace."
From https://github.com/AvaloniaUI/Avalonia/issues/1548

When trying to set an attached property whose type resides in the default namespace to an object whose type does _not_, Portable.Xaml uses the namespace of the target object to look up the attachable member instead of the default namespace.

For example:

[code]

Gives

[code]

It's using the `pages` namespace when looking up `Grid` which is

[2018-05-07 16:32] #95 closed

[2018-05-08 08:41] ewinnington commented on #91
A bump to see if we can unblock this? It would be very helpful for me if I could move forward on CoreWf.

[2018-05-09 21:08] cwensley commented on #91
Thanks @ewinnington for the bump.  I'll try to find some time soon when I'm not passed out from dealing with my two small children. (;

[2018-05-17 19:25] yariker commented on #61
It should be noted that these two ways of initializing collection properties in XAML are not completely equivalent. When collection type is omitted, a deserializer (XamlObjectWriter) first tries to get an existing collection instance by reading the property value, and then it calls the IList.Add method on it to fill the items. Thus, such a collection property doesn't even need to have a public set

[2018-05-23 17:19] cwensley commented on #91
Closing this as I believe @yariker fixed it in #98.

[2018-05-23 17:19] #91 closed

[2018-05-24 10:02] tstojecki opened #101 "Validating xaml input string for FlowDocument"
Hi,
Can we use this library to parse FlowDocument strings?

In a .net framework, we can do this:
`var xamlString = "<FlowDocument xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\" xmlns:x=\"http://schemas.microsoft.com/winfx/2006/xaml\"><Paragraph>Test</Paragraph></FlowDocument>";`

`XamlReader.Parse(xamlString) as FlowDocument;`

When attempting that with Portable.Xaml
`Portable

[2018-05-24 13:16] ewinnington commented on #101
By running on the .Net Framework 4.6.1 and adding a prefix to the FlowDocument as well as a new xmlns, I'm able to go further, but I get Portable.Xaml.XamlObjectWriterException: Type '{clr-namespace:System.Windows.Documents;assembly=PresentationFramework}FlowDocument' does not have a content property.

This seems to lead to [XamlObjectWriter.cs#L450](https://github.com/cwensley/Portable.Xaml/blob/

[2018-05-25 12:32] tstojecki commented on #101
Thanks for you input @ewinnington
Even if it worked, the example you provide would force me down the full .net framework path and I am in .net core 2.1

I think I might be out of luck as I am not finding much about FlowDocument in xaml schema files.

I will close it but happy to reopen if there is new input or additional requests for this.

[2018-05-25 12:32] #101 closed

[2018-05-25 13:02] ewinnington commented on #101
FlowDocument is not included in Core - to my knowledge. So anyway, you wouldn't be able to instantiate a FlowDocument outside of .net framework.

[2018-06-04 16:06] jmacato opened #105 "XMLNS Definitions not working on external libraries."
To repro, make a new Avalonia project, and add [AvaloniaEdit](https://www.nuget.org/packages/Avalonia.AvaloniaEdit/) package. Add the following namespace to MainWindow tag:

https://github.com/AvaloniaUI/Avalonia/issues/1646

[2018-07-20 13:21] cschwarz opened #107 "Strong name signature could not be verified"
I can't use Portable.Xaml 0.22.0 in an ASP.NET Web Application project (.NET 4.6.1).

It works fine in a Console Application.

If I try to verify the strong name:

[2018-08-29 16:28] cm4ker opened #108 "Extension markup attributes not separated with comma then using XamlXmlWriter"
The example:
[code]

The result xaml:
[code]
System.Xaml behavour:
[code]

[2018-09-01 10:45] #108 closed

[2018-09-08 16:05] grokys opened #110 "Portable.Xaml does not support XamlType.IsUsableDuringInitialization"
This setting is used to notify XAML that a created object should be attached to its parent immediately after construction:

https://docs.microsoft.com/en-us/dotnet/api/system.xaml.xamltype.isusableduringinitialization?view=netframework-4.7.2

WPF uses this, and Avalonia requires it. We currently implement some hacks to make things happen in this order; it would be good to remove them.

[2018-09-20 04:38] dmetzgar commented on #105
I'm also seeing this. Here's the exception:
[code]

When I replace the URI in the namespace declaration `xmlns="http://schemas.microsoft.com/netfx/2009/xaml/activities"` with the CLR version `xmlns="clr-namespace:CoreWf;assembly=CoreWf"`, the `XamlServices.Load` will work.

[2018-09-21 17:20] cwensley commented on #105
Hm, yeah this seems to be a problem when running on .NET Core, which I have seen before.  I think it's a problem with how Portable.Xaml tries to get the list of loaded assemblies.  Thanks for the details, guys!

[2018-09-22 18:41] #105 closed

[2018-09-28 08:49] cwensley commented on #107
Hm, looks like it is a mono issue: mono/mono#8495

I'll ensure to use windows or the mono hack to make it properly strong name it for next release.  Thanks!

[2018-09-28 09:54] cwensley commented on #107
Should now be fixed with version 0.23, which is now on nuget.org.

[2018-09-28 09:54] #107 closed

[2018-10-02 05:56] cm4ker commented on #93
Hi! Can you add failing test or code for reproduce the problem.

[2018-10-02 05:59] cm4ker commented on #89
@DevJohnC, hi there! Can you share example with behavour reproduction?

[2018-10-02 07:17] cm4ker commented on #74
@danwalmsley, Hi there! Can you add repro? I can't reproduce this.

[2018-10-02 07:20] cm4ker commented on #72
Can you more detailed explain the problem? Or add failing tests and I'll fix this.

[2018-10-02 07:48] cm4ker commented on #71
I have check this.

[code]
Portable.Xaml
![image](https://user-images.githubusercontent.com/5909124/46335576-b5cfb200-c649-11e8-80aa-25ad77890569.png)

System.Xaml
![image](https://user-images.githubusercontent.com/5909124/46335608-ced86300-c649-11e8-9260-f8e28a972c64.png)

For now the System.Xaml and Portable.Xaml have a same behavour. Do we need different?

[2018-10-02 07:58] cm4ker commented on #61
@cwensley What do you think? Does we need to change behavour of this? It seems what it is not a bug and it (as I understand) different with System.Xaml.

[2018-10-02 08:30] grokys opened #115 "Don't set BaseIntermediateOutputPath."
I use ncrunch for running tests, but [the use of BaseIntermediateOutputPath in `Directory.Build.props`](https://github.com/cwensley/Portable.Xaml/blob/develop/Directory.Build.props#L5) is causing a problem there. See:

https://forum.ncrunch.net/yaf_postsm12722_project-assets-json--not-found--Run-a-NuGet-package-restore-to-generate-this-file.aspx#post12722

Would there be another way to do this tha

[2018-10-02 09:54] grokys commented on #71
From what I can see, System.Xaml has the same behavior. This can be overridden in the schema if necessary. I think we should close this.

[2018-10-03 06:50] grokys commented on #72
I'll create a PR with failing tests for this.

[2018-10-03 09:04] grokys commented on #72
I tried to write a test for this, but I couldn't get it working in System.Xaml either. I don't know if this property just doesn't work, or whether I'm doing something wrong...

[2018-10-03 12:48] danwalmsley commented on #74
It now throws an exception so I assume it got fixed along the way :)

[2018-10-03 12:48] #74 closed

[2018-10-05 05:33] cwensley commented on #115
Hm, setting the IntermediateOutputPath will require it to set it for the configuration selected.. not a huge problem, but well, not really required.

I'm not sure why NCrunch can't deal with this.. the path is project-specific even if it isn't set (as it's based on where the .csproj is).

[2018-10-05 05:40] cwensley commented on #115
Also, in reading more info [here](https://forum.ncrunch.net/yaf_postst2498_-NET-Core-2-0-Support-with-re-located-build-folder.aspx), using IntermediateOutputPath might cause the same issue as the output of the intermediates will be in a different location. It'd be worth trying though.

I wouldn't think having all the obj folders in the various projects will be doable, as it causes conflicts with u

[2018-10-06 18:50] grokys opened #125 "Markup extension with positional arg followed by named arg with child fails."
#106 seems to have broken the following markup extension syntax:

[code]

That is: a positional argument, followed by a named argument with a value of another markup extension.

Here's a test that demonstrates the failure:

[code]

[code]

You can find the failing test in #126.

attn: @cm4ker

[2018-10-10 22:41] grokys opened #127 "ProvideValue not called on Markup Extension when UsableDuringInitialization set"
When a markup extension _with a parameter_ is assigned to the member of a class that has `UsingDuringInitialization` set, the markup extension's `ProvideValue` is not called.

Will open a PR with a unit test.

cc: @cm4ker

[2018-10-10 22:47] grokys commented on #127
@cm4ker I _think_ just adding a test for a markup extension [here](https://github.com/AvaloniaUI/Portable.Xaml/blob/4a41c71c2b5173560715a66f0bcfd9fef6459c1c/src/Portable.Xaml/Portable.Xaml/XamlObjectWriter.cs#L474) would fix this, but I'm not 100% sure this would be the correct fix, so I'll wait for your input.

[2018-10-11 11:20] cm4ker commented on #127
Hi there! Yea this is a the problem. I think the point you pick is a right place for fixing.

We have already [examlpe](https://github.com/AvaloniaUI/Portable.Xaml/blob/4a41c71c2b5173560715a66f0bcfd9fef6459c1c/src/Portable.Xaml/Portable.Xaml/XamlObjectWriter.cs#L382) of ```IsMarkupExtension``` handling. I think we can handle this the same way.

[2018-10-11 11:30] cm4ker commented on #127
This code fixes the issue
[code]

[2018-10-19 16:04] #125 closed

[2018-10-30 18:29] charlie430 opened #131 "Will this support FixedDocuments and FlowDocuments?"
Hi,

I was just wondering if this library will support the ability to create FixedDocuments and FlowDocuments in the System.Windows.Documents namespace? I use those to create XPS files, and would love to be able to create XPS documents in .Net Core, but wasn't sure if the intention of this library would include that.

Thanks,
Charlie

[2018-10-31 03:33] cm4ker commented on #131
Hello, @charlie430. Portable.Xaml does not include the System.Windows.Documents namespace.

[2018-10-31 15:00] cwensley commented on #131
Yes, those namespaces exist in `PresentationFramework.dll`, which is unfortunately Windows only.  You should be able to [use those with .NET Core 3](https://blogs.msdn.microsoft.com/dotnet/2018/05/07/net-core-3-and-support-for-windows-desktop-applications/) though, along with System.Xaml.

This library is a cross platform implementation of System.Xaml only.

[2018-10-31 15:20] charlie430 commented on #131
@cwensley @cm4ker Okay, thank you for the clarification.

[2018-10-31 15:20] #131 closed

[2018-11-02 03:45] #71 closed

[2018-11-03 15:17] cm4ker commented on #110
@grokys Hi! I think we are completely close this.

[2018-11-03 15:17] #110 closed

[2018-11-03 15:19] cm4ker commented on #27
@globeport hi there! Can we close this issue?

[2018-11-14 09:46] wieslawsoltes opened #135 "Escaping { and } with \ does not work"
[code]
results in:
[code]
cc: @cm4ker

[2018-11-14 10:30] #135 closed

[2018-11-14 10:47] cm4ker commented on #135
Some notes:
For escape characters use the [Escape Sequence](https://docs.microsoft.com/ru-ru/dotnet/framework/xaml-services/escape-sequence-markup-extension).

[2018-11-16 04:44] cm4ker commented on #93
Anyway. The title says: "x:Static can't resolve internal types". Portable.Xaml as a System.Xaml can't access to the internal types.

Then the reflection scan the properties(this how portable.xaml deside about property handling) it looks on the ```XamlMember.LookupIsReadPublic``` and ```XamlMember.LookupWritePublic``` (```XamlType``` works the same).

If you want change the behavor you can create y

[2018-11-16 04:44] #93 closed

[2018-11-16 05:08] cm4ker commented on #89
Seems it has been fixed.

[code]

This code is passed at the Portable.Xaml and System.Xaml feel free  to reopen the issue if problem remains.

[2018-11-16 05:08] #89 closed

[2018-11-20 18:48] cwensley commented on #115
Looks like the NCrunch team may have [figured it out](https://forum.ncrunch.net/yaf_postsm12571_-NET-Core-2-0-Support-with-re-located-build-folder.aspx#post12571).  Give it a try.

Otherwise, the only options for us to resolve this is to use multi-targeting (which does not work in VS for Mac), or move the multiple .csproj's into their own folders and link to the source files or perhaps use a share

[2018-11-22 05:07] cm4ker commented on #72
This attribute work only then we exec method "Save" i.e. then we serialize the object.

I think I can implement this.

Know more about how the DependsOnAttribute works from [this](https://docs.microsoft.com/en-us/dotnet/api/system.windows.markup.dependsonattribute?view=netframework-4.7.2) article.

**UPDATE:**
This is implement as a part of the PresentationFramework.dll.
https://docs.microsoft.com

[2018-11-22 06:43] #72 closed

[2018-12-03 05:47] cwensley commented on #61
@cm4ker if this can be done without breaking certain scenarios, then sure.

I don't think it's a requirement if System.Xaml doesn't provide this functionality, but it would just be an enhancement (opt-in via a setting property most likely) to Portable.Xaml that would make it nicer to use in this case.

[2018-12-03 06:41] cm4ker commented on #61
@cwensley ok, I will think how to implement this.

[2018-12-08 22:23] aleGuardiola opened #138 "Just want to put this project here"
Hello I am making this library using Portable.Xaml
https://github.com/aleGuardiola/EasyPdf

[2018-12-09 12:00] cm4ker commented on #138
Thank you for using Portable.Xaml in you project! I want to close this because this is not a issue and this is not a Portable.Xaml discussion scope. The best place for posting this information is [Awesome Dot net](https://github.com/thangchung/awesome-dotnet-core).

[2018-12-09 12:00] #138 closed, assigned to nobody

[2019-01-09 13:54] ArmanHayots opened #139 "XAML2009 support"
Any chance?

[2019-01-25 17:26] cwensley commented on #139
afaik, most (all?) of Xaml2009 support is already there..

[2019-01-30 21:42] cwensley commented on #115
Closing as this is an issue with how NCrunch works and would be painful to do with multiple projects.  It appears it was fixed in NCrunch but is not verified.

[2019-01-30 21:42] #115 closed

[2019-09-06 21:46] Aminator opened #143 "Add support to serialize custom markup extensions"
Currently you can only deserialize custom markup extensions and in my case I would really like to be able to serialize them to avoid messy string handling.

There could be two approaches to this:
1. Make `XamlServices` behave like `System.Windows.Markup.XamlWriter`, which not only tries to convert anything with a `TypeConverterAttribute` to a string but also a `MarkupExtension`. You can read this

[2019-09-12 18:32] LunicLynx opened #144 "Problem when serializing CoreWF activities"
Hello,
i'm trying to use CoreWF. They use Portable.Xaml for serialization.

I'm not completely sure if this issue is on CoreWF side or from Portable.Xaml, but my intuition tells me it is a Portable.Xaml problem. Also it could be that I overlooked something, so bare with me if this is the case.

If i create a simple `WriteLine` activity and serialize it like so:

[code]

I get this xaml:

[code]

B

[2019-09-13 15:49] cwensley commented on #144
Hey @LunicLynx, thanks for reporting the issue but I think this is an issue on the CoreWF side.  Portable.Xaml (and System.Xaml) will by default serialize all properties of an object.  Specifying what properties should be serialized can be done a number of ways:
- Add the `[DesignerSerializationVisibility(DesignerSerializationVisibility.Hidden)]` attribute to whichever properties shouldn't be seri

[2019-09-13 19:07] LunicLynx commented on #144
I will verify it, but I’m wondering why there are <x:Null /> tags, when all properties define [DefaultValue(null)].

To me it seems like there is an issue with the TypeDescriptorAttribute and the ValueSerializerAttribute.

[2019-09-13 19:15] cwensley commented on #144
@LunicLynx Hm, there very well may be issues with the use of those attributes in Portable.Xaml, though I'd need a bit more detail (links to the code in question?) and/or a repro to dig further.

Is the CoreWF code identical to that of .NET WF?

[2019-09-16 19:24] LunicLynx commented on #144
@cwensley i had a look now. There are two issues. The first is that the IgnoreDataMemberAttribute is not respected. I will send a PR for that. The other is that ValueSerializers are not taken into account while serializing. I'm not sure how to fix that yet.

[2019-09-16 19:30] LunicLynx commented on #144
With support for `IgnoreDataMemberAttriubte` the output is like this:

[code]

[2019-09-16 20:56] LunicLynx commented on #144
When checking for ValueSerializer in GetNodes:

[code]

We can get this result:

[code]

This is almost the exact solution, except that System.Xaml defaults to attribute if the content is string.

[2019-10-29 09:03] LunicLynx commented on #144
@cwensley any update?

[2020-03-06 08:55] #61 closed

[2020-03-06 08:55] #60 closed

[2020-03-06 08:55] #59 closed

[2020-04-09 11:50] jensbusch opened #146 "XamlServices.Save(fileName, object) not existing"
Hi,
  is there a reason that the function with the filename as parameter hasn't been implemented respectively is commented out? In order of porting an existing dotnet application it would be great if that would be available. It seems to be in the code.

[2020-04-23 17:07] cwensley commented on #146
I believe it was commented out as .NET Standard 1.0 didn't have any api's to load from a file path.  This shouldn't be a problem for .NET Standard 2.0.

[2020-04-23 17:08] #139 closed, assigned to nobody

[2020-10-29 08:08] cwensley commented on #146
Now fixed with commit 9ebc392.  Thanks again!

[2020-10-29 08:08] #146 closed, assigned to nobody